div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.main-top {
  width: 100%;
  height: 350px;
  background-color: #4c7ecf;
  padding-top: 15px;
  padding-left: 65px;
  position: relative;
}
.main-left {
  width: 400px;
  height: 150px;
  color: white;
}
.main-left h3 {
  font-size: 25px;
  font-weight: 400;
}
.main-left p {
  font-size: 13px;
  margin: 0;
  margin-bottom: 5px;
}
.main-left-p {
  padding-bottom: 15px;
}
button {
  background-color: #444445;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
.main-right img {
  width: 250px;
  height: 280px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 6%;
}
@media screen and (max-width: 768px) {
  .main-top {
    height: 500px;
    text-align: center;
    padding-left: 0;
  }
  .main-left {
    width: 100%;
  }
  .main-right img {
    padding: 0;
    left: 50%;
    transform: translate(-50%);
  }
}
